<div class="game-square-container" style="@StyleForSquareContainer()" oncontextmenu="return false;" @onmouseup="SquareClicked">

    <span style="@StyleForSquareContent()" class="game-square-content">@ContentForSquare()</span>

</div>
